.contact {
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .contact__form {
    max-width: 90vw;
    min-width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.contact .contact__title {
    font-size: 60px;
    color: var(--azulMuyClaro);
}

.contact .contact__form input {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--azulMuyClaro);
    padding: 5px;
    color: var(--azulMuyClaro);
    font-size: 15px;
}

.contact .contact__form input::placeholder {
    color: var(--azulMuyClaro);
}

.contact .contact__form #textArea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--azulMuyClaro);
    font-size: 15px;
    outline: none;
    color: var(--azulMuyClaro);
    resize: none;
}

.contact .contact__form #textArea::placeholder {
    color: var(--azulMuyClaro);
}

.contact .contact__form .contact__form-btn {
    padding: 10px;
    border: none;
    background-color: var(--azulMuyClaro);
    font-size: 15px;
    font-weight: bold;
    color: var(--azulMenosClaro);
    width: 200px;
    align-self: center;
    border-radius: 20px;
}

.contact .contact__form .contact__form-btn:hover {
    color: var(--azulMuyClaro);
    background-color: var(--azulMenosClaro);
    cursor: pointer;
    border: 2px solid var(--azulMuyClaro);
}

/*FOOTER*/
.footer {
     width: 100%;
     height: 60px;
     border-top: 1px solid var(--azulMenosClaro);
     display: flex;
     align-items: center;
     justify-content: center;
     color: var(--azulMuyClaro);
     font-size: 20px;
}