.start {
    min-height: 93vh;
    max-height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px 20px;
    position: relative;

    transition: all 1s;
} 

.start .start__text-container {
    padding: 0 30px;
}

.start .start__text-container .start__name{
    display: inline-block;
    font-size: 80px;
    color: var(--azulMuyClaro);
    margin: 0 10px 0 0;
    padding: 0;
}

.start .start__text-container .start__name__color {
    display: inline-block;
    color: var(--azulMenosClaro);
    font-size: 80px;
}

.start .start__img-container .start__img {
    max-width: 600px;
    height: auto;
    min-width: 300px;
}

.start .start__profession {
    font-size: 55px;
    font-weight: 800;
    color: transparent;
    background-image: linear-gradient(45deg,var(--azulIntermedio) 10%,var(--azulMenosClaro) 40%,var(--azulMuyClaro) 100%,var(--azulOscuro) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 10px;
}

.start .start__links {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

.start .start__btn-cv {
    padding: 10px;
    border-radius: 15px;
    border: 3px solid var(--azulMuyClaro);
    width: 150px;
    height: 45px;
    margin-left: 10px;
    background: transparent;
    font-size: 15px;
    font-weight: 700;
    color: var(--azulMuyClaro);
    text-align: center;

    box-shadow: 0 0 1em .25em var(--azulMuyClaro),
         0 0 4em 1em var(--azulMuyClaro),
         inset 0 0 .80em .25em var(--azulMuyClaro);
    text-shadow: 0 0 .5em var(--azulMuyClaro);
    transition: all 0.3s;
    position: relative;
}

.start .start__btn-cv::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--azulMuyClaro);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }

.start .start__btn-cv:hover {
    color: var(--azulMedioOscuro);
    background-color: var(--azulMuyClaro);
    box-shadow: 0 0 1em .25em var(--azulMuyClaro),
           0 0 4em 2em var(--azulMuyClaro),
           inset 0 0 .75em .25em var(--azulMuyClaro);
    cursor: pointer;
}

.start .start__btn-cv:active {
    box-shadow: 0 0 0.6em .25em var(--azulMuyClaro),
           0 0 2.5em 2em var(--azulMuyClaro),
           inset 0 0 .5em .25em var(--azulMuyClaro);
}

.start .start__github,
.start .start__linkedin {
    transition: all 0.5s;
}

.start .start__github:hover,
.start .start__linkedin:hover {
    transform: rotate(360deg);
}

.start .start__img {
    animation: levitate 1s alternate 1s infinite;
    position: relative;
    z-index: -1;
}

@keyframes levitate {
    0% {
        transform: translateY(10);
    }

    100% {
        transform: translateY(-15px);
    }
}

/*RESPONSIVE*/

@media  screen and (max-width: 912px) {

    .start .start__text-container .start__name,
    .start .start__text-container .start__name__color {
        font-size: 70px;
    }

    .start .start__profession {
        font-size: 50px;
    }

    .start .start__links {
        margin-right: 20px;
    }

    .start .start__github img {
        width: 150px;
    }

    .start .start__linkedin img {
        width: 120px;
    }

    .start .start__btn-cv {
        width: 250px;
        height: 100px;
        font-size: 30px;
    }
}

@media  screen and (max-width: 950px) {

    .start__img-container {
        display: none;
    }

    .start .start__text-container .start__name,
    .start .start__text-container .start__name__color {
        font-size: 60px;
    }
    .start .start__profession {
        font-size: 50px;
    }

    .start .start__btn-cv {
        width: 200px;
        height: 60px;
        font-size: 25px;
    }

    .start .start__github img {
        width: 90px;
    }

    .start .start__linkedin img {
        width: 70px;
    }
}

@media  screen and (max-width: 618px) {

    .start .start__text-container .start__name,
    .start .start__text-container .start__name__color {
        font-size: 45px;
    }
    .start .start__profession {
        font-size: 35px;
    }
    .start .start__text-container {
        text-align: center;
    }
}

@media  screen and (max-width: 463px) {

    .start .start__text-container .start__name,
    .start .start__text-container .start__name__color {
        font-size: 45px;
    }
    .start .start__profession {
        font-size: 30px;
    }
    .start .start__text-container {
        text-align: center;
    }

    .start__img-container {
        display: none;
    }

    .start .start__btn-cv {
        width: 200px;
        height: 60px;
    }

    .start .start__links {
        justify-content: center;
    }

    .start .start__github img {
        width: 90px;
    }

    .start .start__linkedin img {
        width: 70px;
    }
}


@media  screen and (max-width: 351px) {
    .start .start__links {
        margin-right: 20px;
    }

    .start .start__text-container {
        margin-right: 20px;
    }

    .start .start__github img {
        width: 100px;
    }

    .start .start__linkedin img {
        width: 70px;
    }

    .start .start__btn-cv {
        width: 200px;
        height: 70px;
        font-size: 25px;
    }
}


@media  screen and (max-width: 375px) {

    .start .start__text-container .start__name__color {
        font-size: 40px;
    }

    .start .start__profession {
        font-size: 25px;
    }

    .start .start__links {
        margin-right: 20px;
    }
}

@media  screen and (max-width: 414px) {

    .start .start__text-container .start__name__color {
        font-size: 40px;
    }

    .start .start__profession {
        font-size: 25px;
    }

    .start .start__links {
        margin-right: 20px;
    }
}

